<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Share File</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Arial;
        }

        * {
            box-sizing: border-box;
        }

        form.example input[type=text] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 60%;
            background: #f1f1f1;
        }

        form.example button {
            float: left;
            width: 10%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

        form.example button:hover {
            background: #0b7dda;
        }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <span th:utext="${#request.userPrincipal.name}"></span>
    <span><a class="nav-link" href="/home">Home</a></span>
    <span><a class="nav-link" href="/signout">Logout</a></span>
</nav>


<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <a href="${shortenUrl}" th:text="${shortenUrl}" id="url" th:value="${shortenUrl}"></a>
    </div>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h2>Search user to share file</h2>
        <form>
            <input type="text" size="30" onkeyup="showResult(this.value)">
            <div id="livesearch"></div>
        </form>

        <div class="row">
            <form th:object="${sharedFileDTO}" enctype="multipart/form-data" action="/file-sharing/share-file" method="post">
                <div class="col-sm">
                    <span>Copy filename to confirm share the file</span>
                    <input type="text" id="filename" th:field="*{filename}" th:utext="${filename}" value="${filename}"/>  <br>
                    <span>Copy username to confirm share the file</span>
                    <input type="text" id="username" th:field="*{username}"/>  <br>
                    Permission <select name="permission">
                        <option th:each="permission : ${T(com.thaolt15.assignment1.constant.Permission).values()}"
                                th:value="${permission}" th:text="${permission}"></option>
                    </select>
                    <button type="submit" style="display:none" id="shareButt">Share</button>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    function showResult(str) {
        if (str.length==0) {
            document.getElementById("livesearch").innerHTML="";
            document.getElementById("livesearch").style.border="0px";
            return;
        }
        var xmlhttp=new XMLHttpRequest();
        xmlhttp.onreadystatechange=function() {
            if (this.readyState==4 && this.status==200) {
                if(this.responseText.length > 0 ) {
                    document.getElementById("livesearch").innerHTML=this.responseText;
                    document.getElementById("username").innerHTML=document.getElementById("livesearch").innerText
                    document.getElementById("livesearch").style.border="1px solid #A5ACB2";
                    $('#shareButt').show();
                }
            }
        }
        xmlhttp.open("GET","/search?uname="+str, true);
        xmlhttp.send();
    }

    function shareFilePermission(){
        var url = document.getElementById("url").valueOf().substring(url.lastIndexOf("/"));
        alert(url);
        var username = document.getElementById("livesearch").valueOf();
        var xmlhttp=new XMLHttpRequest();
        xmlhttp.setRequestHeader('contentType', "text/plain;charset=UTF-8");
        xmlhttp.onreadystatechange=function() {
            alert(this.responseText);
        }
        xmlhttp.open("POST","/file-sharing/share-file", true);
    }
</script>

</body>
</html>